* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Lovers Quarrel', cursive */
    font-family: 'Love Ya Like A Sister', cursive;
}

body {
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url("./everton-vila-AsahNlC0VhQ-unsplash.jpg");
    background-position: bottom;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

h1.quote {
    font-size: 39px;
    font-weight: normal;
    color: black;
    text-shadow: 2px 2px 4px lightpink;
}

.userData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 100%;
}

p1.name {
    font-size: 23px;
}

input.name-input1,
input.name-input2 {
    width: 276px;
    height: 39px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 4px 4px 9px black;
    border-radius: 9px;
    color: white;
}

button#btn {
    padding: 10px;
    width: 140px;
    font-size: 19px;
    border-radius: 14px;
    box-shadow: 5px 4px 8px black;
    background: lightpink;
    outline: none;
    border: none;
}

::placeholder {
    color: white;
    text-align: center;
}

.tryAgainbtn {
    padding: 10px;
    width: 140px;
    font-size: 19px;
    border-radius: 14px;
    box-shadow: 5px 4px 8px black;
    background: #f31435;
    outline: none;
    margin-top: 41px;
    border: none;
}

.results {
    font-size: 24px;
    margin-top: 24px;
}