* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: white;
}

.container {
    height: 100vh;
    width: 100%;
    background: url("./everton-vila-AsahNlC0VhQ-unsplash.jpg");
    background-position: bottom;
    background-size: cover;
}

.userData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 100%;
}

p1.name {
    font-size: 23px;
}

input.name-input1,
input.name-input2 {
    width: 276px;
    height: 39px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 4px 4px 9px black;
    border-radius: 9px;
}